<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="DhcpServer" value="dhcp-server.local" />
    <add key="TimeoutMinutes" value="60" />
  </appSettings>
</configuration>